# Librerias y creamos el engine

In [8]:
import pandas as pd
import numpy as np
import mysql.connector
from sqlalchemy import create_engine

In [9]:
engine = create_engine('mysql+mysqlconnector://uservisas:visaspw@localhost/visas_tp')

# Analizamos la data

In [10]:
data = pd.read_csv('h1b_disclosure_data_2015_2019.csv')
data.head()

,CASE_NUMBER,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,SOC_CODE,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,WORKSITE_CITY,WORKSITE_STATE_ABB,YEAR,WORKSITE_STATE_FULL,WORKSITE
0,I-200-09285-514415,CERTIFIED,IT CATS LLC,COMPUTER SYSTEMS ANALYSTS,15-1121,SENIOR BUSINESS ANALYST,Y,109116.8,"NORTH WALES,",PA,2015,PENNSYLVANIA,"NORTH WALES, PENNSYLVANIA"
1,I-200-09341-564186,CERTIFIED-WITHDRAWN,"XPERT TECHNOLOGIES, INC.","COMPUTER OCCUPATIONS, ALL OTHER*",15-1799,QUALITY ASSURANCE ANALYST,Y,58282.0,CAMP HILL,PA,2015,PENNSYLVANIA,"CAMP HILL, PENNSYLVANIA"
2,I-200-09342-274341,CERTIFIED,"ISR INFO WAY, INC.","SOFTWARE DEVELOPERS, APPLICATIONS",15-1132,SR. SOFTWARE DEVELOPER,Y,84906.0,CHICAGO,IL,2015,ILLINOIS,"CHICAGO, ILLINOIS"
3,I-200-09364-425868,CERTIFIED,MAGIC CIRCLE FILMS INTERNATIONAL LLC,FILM AND VIDEO EDITORS,27-4032,VIDEO EDITOR,Y,39333.0,AUBURN,NY,2015,NEW YORK,"AUBURN, NEW YORK"
4,I-200-10006-413683,WITHDRAWN,SAPHIRE SOLUTIONS INC,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,15-1142,SYSTEMS ADMINISTRATOR,Y,68638.0,BETHPAGE,NY,2015,NEW YORK,"BETHPAGE, NEW YORK"

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857216 entries, 0 to 857215
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CASE_NUMBER          857216 non-null  object
 1   CASE_STATUS          857216 non-null  object
 2   EMPLOYER_NAME        857195 non-null  object
 3   SOC_NAME             857210 non-null  object
 4   SOC_CODE             857212 non-null  object
 5   JOB_TITLE            857211 non-null  object
 6   FULL_TIME_POSITION   857215 non-null  object
 7   PREVAILING_WAGE      857212 non-null  float64
 8   WORKSITE_CITY        857188 non-null  object
 9   WORKSITE_STATE_ABB   857216 non-null  object
 10  YEAR                 857216 non-null  int64
 11  WORKSITE_STATE_FULL  857216 non-null  object
 12  WORKSITE             857216 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 85.0+ MB

# DATA CLEANING

In [12]:
# Elimino WORKSITE ya que es redundante con dos columnas que ya tenemos

data = data.drop('WORKSITE', axis = 1)

In [13]:
NaN_updated = data.isna().sum()
NaN_updated

CASE_NUMBER             0
CASE_STATUS             0
EMPLOYER_NAME          21
SOC_NAME                6
SOC_CODE                4
JOB_TITLE               5
FULL_TIME_POSITION      1
PREVAILING_WAGE         4
WORKSITE_CITY          28
WORKSITE_STATE_ABB      0
YEAR                    0
WORKSITE_STATE_FULL     0
dtype: int64

In [14]:
##elimino todos las filas con nulos ya que a execpcion de la columna FULL_TIME_POSITION, las columnas con nulos son escenciales para la integridad de la informacion y representan un numero relativamente chico de casos.

data = data.dropna(subset=['EMPLOYER_NAME', 'SOC_NAME', 'SOC_CODE','JOB_TITLE','PREVAILING_WAGE','WORKSITE_CITY'], axis=0)
data = data.reset_index(drop=True)

In [15]:
NaN_updated = data.isna().sum()
NaN_updated

CASE_NUMBER            0
CASE_STATUS            0
EMPLOYER_NAME          0
SOC_NAME               0
SOC_CODE               0
JOB_TITLE              0
FULL_TIME_POSITION     0
PREVAILING_WAGE        0
WORKSITE_CITY          0
WORKSITE_STATE_ABB     0
YEAR                   0
WORKSITE_STATE_FULL    0
dtype: int64

#### Respecto a los datatypes, elegi no cambiar ninguno, podria haberlo hecho en el caso de CASE_NUMBER pero tiene letras que no tengo mas informacion de que significan

# Conexion a MYSQL

In [17]:
data.to_sql("tabla_general",con=engine)

Exception during reset or similar
Traceback (most recent call last):
  File "/home/tomi/.local/lib/python3.8/site-packages/mysql/connector/connection_cext.py", line 513, in cmd_query
    self._cmysql.query(query,
_mysql_connector.MySQLInterfaceError: Got a packet bigger than 'max_allowed_packet' bytes

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1750, in _execute_context
    self.dialect.do_executemany(
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/default.py", line 714, in do_executemany
    cursor.executemany(statement, parameters)
  File "/home/tomi/.local/lib/python3.8/site-packages/mysql/connector/cursor_cext.py", line 358, in executemany
    return self.execute(stmt)
  File "/home/tomi/.local/lib/python3.8/site-packages/mysql/connector/cursor_cext.py", line 269, in execute
    result = self._cnx.cmd_query(stmt, raw=self._raw,
  File "/home/tomi/.local/lib/python3.8/site-packages/mysql/connector/connection_cext.py", line 518, in cmd_query
    raise errors.get_mysql_exception(exc.errno, msg=exc.msg,
mysql.connector.errors.OperationalError: 1153 (08S01): Got a packet bigger than 'max_allowed_packet' bytes

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py", line 1170, in run_transaction
    yield tx
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py", line 845, in insert
    exec_insert(conn, keys, chunk_iter)
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/pandas/io/sql.py", line 762, in _execute_insert
    conn.execute(self.table.insert(), data)
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1262, in execute
    return meth(self, multiparams, params, _EMPTY_EXECUTION_OPTS)
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/sql/elements.py", line 329, in _execute_on_connection
    return connection._execute_clauseelement(
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1451, in _execute_clauseelement
    ret = self._execute_context(
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1813, in _execute_context
    self._handle_dbapi_exception(
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1994, in _handle_dbapi_exception
    util.raise_(
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/util/compat.py", line 211, in raise_
    raise exception
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1750, in _execute_context
    self.dialect.do_executemany(
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/default.py", line 714, in do_executemany
    cursor.executemany(statement, parameters)
  File "/home/tomi/.local/lib/python3.8/site-packages/mysql/connector/cursor_cext.py", line 358, in executemany
    return self.execute(stmt)
  File "/home/tomi/.local/lib/python3.8/site-packages/mysql/connector/cursor_cext.py", line 269, in execute
    result = self._cnx.cmd_query(stmt, raw=self._raw,
  File "/home/tomi/.local/lib/python3.8/site-packages/mysql/connector/connection_cext.py", line 518, in cmd_query
    raise errors.get_mysql_exception(exc.errno, msg=exc.msg,
sqlalchemy.exc.OperationalError: (mysql.connector.errors.OperationalError) 1153 (08S01): Got a packet bigger than 'max_allowed_packet' bytes
[SQL: INSERT INTO tabla_general (`index`, `CASE_NUMBER`, `CASE_STATUS`, `EMPLOYER_NAME`, `SOC_NAME`, `SOC_CODE`, `JOB_TITLE`, `FULL_TIME_POSITION`, `PREVAILING_WAGE`, `WORKSITE_CITY`, `WORKSITE_STATE_ABB`, `YEAR`, `WORKSITE_STATE_FULL`) VALUES (%(index)s, %(CASE_NUMBER)s, %(CASE_STATUS)s, %(EMPLOYER_NAME)s, %(SOC_NAME)s, %(SOC_CODE)s, %(JOB_TITLE)s, %(FULL_TIME_POSITION)s, %(PREVAILING_WAGE)s, %(WORKSITE_CITY)s, %(WORKSITE_STATE_ABB)s, %(YEAR)s, %(WORKSITE_STATE_FULL)s)]
[parameters: ({'index': 0, 'CASE_NUMBER': 'I-200-09285-514415', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'IT CATS LLC', 'SOC_NAME': 'COMPUTER SYSTEMS ANALYSTS', 'SOC_CODE': '15-1121', 'JOB_TITLE': 'SENIOR BUSINESS ANALYST', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 109116.8, 'WORKSITE_CITY': 'NORTH WALES,', 'WORKSITE_STATE_ABB': 'PA', 'YEAR': 2015, 'WORKSITE_STATE_FULL': 'PENNSYLVANIA'}, {'index': 1, 'CASE_NUMBER': 'I-200-09341-564186', 'CASE_STATUS': 'CERTIFIED-WITHDRAWN', 'EMPLOYER_NAME': 'XPERT TECHNOLOGIES, INC.', 'SOC_NAME': 'COMPUTER OCCUPATIONS, ALL OTHER*', 'SOC_CODE': '15-1799', 'JOB_TITLE': 'QUALITY ASSURANCE ANALYST', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 58282.0, 'WORKSITE_CITY': 'CAMP HILL', 'WORKSITE_STATE_ABB': 'PA', 'YEAR': 2015, 'WORKSITE_STATE_FULL': 'PENNSYLVANIA'}, {'index': 2, 'CASE_NUMBER': 'I-200-09342-274341', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'ISR INFO WAY, INC.', 'SOC_NAME': 'SOFTWARE DEVELOPERS, APPLICATIONS', 'SOC_CODE': '15-1132', 'JOB_TITLE': 'SR. SOFTWARE DEVELOPER', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 84906.0, 'WORKSITE_CITY': 'CHICAGO', 'WORKSITE_STATE_ABB': 'IL', 'YEAR': 2015, 'WORKSITE_STATE_FULL': 'ILLINOIS'}, {'index': 3, 'CASE_NUMBER': 'I-200-09364-425868', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'MAGIC CIRCLE FILMS INTERNATIONAL LLC', 'SOC_NAME': 'FILM AND VIDEO EDITORS', 'SOC_CODE': '27-4032', 'JOB_TITLE': 'VIDEO EDITOR', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 39333.0, 'WORKSITE_CITY': 'AUBURN', 'WORKSITE_STATE_ABB': 'NY', 'YEAR': 2015, 'WORKSITE_STATE_FULL': 'NEW YORK'}, {'index': 4, 'CASE_NUMBER': 'I-200-10006-413683', 'CASE_STATUS': 'WITHDRAWN', 'EMPLOYER_NAME': 'SAPHIRE SOLUTIONS INC', 'SOC_NAME': 'NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS', 'SOC_CODE': '15-1142', 'JOB_TITLE': 'SYSTEMS ADMINISTRATOR', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 68638.0, 'WORKSITE_CITY': 'BETHPAGE', 'WORKSITE_STATE_ABB': 'NY', 'YEAR': 2015, 'WORKSITE_STATE_FULL': 'NEW YORK'}, {'index': 5, 'CASE_NUMBER': 'I-200-10028-460244', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'SUNERA TECHNOLOGIES, INC', 'SOC_NAME': 'COMPUTER PROGRAMMERS', 'SOC_CODE': '15-1131', 'JOB_TITLE': 'PROGRAMMER ANALYST', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 61901.0, 'WORKSITE_CITY': 'TROY', 'WORKSITE_STATE_ABB': 'MI', 'YEAR': 2015, 'WORKSITE_STATE_FULL': 'MICHIGAN'}, {'index': 6, 'CASE_NUMBER': 'I-200-10035-077428', 'CASE_STATUS': 'CERTIFIED-WITHDRAWN', 'EMPLOYER_NAME': 'AKT, LLC.', 'SOC_NAME': 'COMPUTER PROGRAMMERS', 'SOC_CODE': '15-1131', 'JOB_TITLE': 'JAVA DEVELOPER', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 51210.0, 'WORKSITE_CITY': 'COLUMBUS', 'WORKSITE_STATE_ABB': 'OH', 'YEAR': 2015, 'WORKSITE_STATE_FULL': 'OHIO'}, {'index': 7, 'CASE_NUMBER': 'I-200-10053-213884', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'LIANG LLC', 'SOC_NAME': 'FINANCIAL ANALYSTS', 'SOC_CODE': '13-2051', 'JOB_TITLE': 'FINANCIAL ANALYST', 'FULL_TIME_POSITION': 'N', 'PREVAILING_WAGE': 49108.8, 'WORKSITE_CITY': 'CARBONDALE', 'WORKSITE_STATE_ABB': 'IL', 'YEAR': 2015, 'WORKSITE_STATE_FULL': 'ILLINOIS'}  ... displaying 10 of 857155 total bound parameter sets ...  {'index': 857153, 'CASE_NUMBER': 'I-200-19053-522403', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'JETBLUE AIRWAYS', 'SOC_NAME': 'TRANSPORTATION INSPECTORS', 'SOC_CODE': '53-6051', 'JOB_TITLE': 'SENIOR INVESTIGATOR AIR SAFETY', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 74152.0, 'WORKSITE_CITY': 'Long Island City', 'WORKSITE_STATE_ABB': 'NEWYORK', 'YEAR': 2019, 'WORKSITE_STATE_FULL': 'NEW YORK'}, {'index': 857154, 'CASE_NUMBER': 'I-200-18282-647333', 'CASE_STATUS': 'CERTIFIED', 'EMPLOYER_NAME': 'AMERICAN FAMILY MUTUAL INSURANCE COMPANY', 'SOC_NAME': '15-2031', 'SOC_CODE': 'OPERATIONS RESEARCH ANALYSTS', 'JOB_TITLE': 'DIGITAL TOUCHPOINTS ANALYST', 'FULL_TIME_POSITION': 'Y', 'PREVAILING_WAGE': 75733.0, 'WORKSITE_CITY': 'MADISON', 'WORKSITE_STATE_ABB': 'WI', 'YEAR': 2019, 'WORKSITE_STATE_FULL': 'WISCONSIN'})]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 2951, in __exit__
    self.transaction.__exit__(type_, value, traceback)
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/util.py", line 230, in __exit__
    self.rollback()
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 2308, in rollback
    self._do_rollback()
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 2506, in _do_rollback
    self._close_impl(try_deactivate=True)
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 2489, in _close_impl
    self._connection_rollback_impl()
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 2481, in _connection_rollback_impl
    self.connection._rollback_impl()
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 960, in _rollback_impl
    self._handle_dbapi_exception(e, None, None, None, None)
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1998, in _handle_dbapi_exception
    util.raise_(exc_info[1], with_traceback=exc_info[2])
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/util/compat.py", line 211, in raise_
    raise exception
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 958, in _rollback_impl
    self.engine.dialect.do_rollback(self.connection)
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/default.py", line 667, in do_rollback
    dbapi_connection.rollback()
  File "/home/tomi/.local/lib/python3.8/site-packages/mysql/connector/connection_cext.py", line 412, in rollback
    self._cmysql.rollback()
_mysql_connector.MySQLInterfaceError: Got a packet bigger than 'max_allowed_packet' bytes

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/pool/base.py", line 676, in _finalize_fairy
    fairy._reset(pool)
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/pool/base.py", line 881, in _reset
    pool._dialect.do_rollback(self)
  File "/home/tomi/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/default.py", line 667, in do_rollback
    dbapi_connection.rollback()
  File "/home/tomi/.local/lib/python3.8/site-packages/mysql/connector/connection_cext.py", line 412, in rollback
    self._cmysql.rollback()
_mysql_connector.MySQLInterfaceError: Got a packet bigger than 'max_allowed_packet' bytes

MySQLInterfaceError: Got a packet bigger than 'max_allowed_packet' bytes